---
http_interactions:
- request:
    method: get
    uri: https://api.kissmetrics.com/core/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - Bearer g69tAwVa2PXJS5KBzz5lWKgBkAzERYIR9XGoS2VkWUz4vnT_qZVIW6ehkPjIGmga
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af931434295d0b79d8e21e3895630257"'
      Link:
      - <https://api.kissmetrics.com/core/events?limit=20&offset=0>; rel="self"; templated="false",<https://api.kissmetrics.com/core/events/{event_id}>;
        rel="event-detail"; templated="true",<https://api.kissmetrics.com/core/events?limit=20&offset=0>;
        rel="first"; templated="false",<https://api.kissmetrics.com/core/events?limit=20&offset=0>;
        rel="last"; templated="false"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"data":[],"pagination":{"limit":20,"offset":0,"total":0},"links":[{"name":"Self","rel":"self","href":"https://api.kissmetrics.com/core/events?limit=20\u0026offset=0","templated":false},{"name":"Event
        Detail","rel":"event-detail","href":"https://api.kissmetrics.com/core/events/{event_id}","templated":true},{"name":"First","rel":"first","href":"https://api.kissmetrics.com/core/events?limit=20\u0026offset=0","templated":false},{"name":"Last","rel":"last","href":"https://api.kissmetrics.com/core/events?limit=20\u0026offset=0","templated":false}]}'
  recorded_at: Fri, 27 Feb 2015 03:03:48 GMT
recorded_with: VCR 2.9.3
