---
http_interactions:
- request:
    method: get
    uri: https://api.kissmetrics.com/core/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - Bearer g69tAwVa2PXJS5KBzz5lWKgBkAzERYIR9XGoS2VkWUz4vnT_qZVIW6ehkPjIGmga
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a202af4f325fb3fd4e8380f7c6bd403e"'
      Link:
      - <https://api.kissmetrics.com/core/metrics?limit=20&offset=0>; rel="self";
        templated="false",<https://api.kissmetrics.com/core/metrics/{metric_id}>;
        rel="metric-detail"; templated="true",<https://api.kissmetrics.com/core/metrics?limit=20&offset=0>;
        rel="first"; templated="false",<https://api.kissmetrics.com/core/metrics?limit=20&offset=0>;
        rel="last"; templated="false"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"data":[],"pagination":{"limit":20,"offset":0,"total":0},"links":[{"name":"Self","rel":"self","href":"https://api.kissmetrics.com/core/metrics?limit=20\u0026offset=0","templated":false},{"name":"Metric
        Detail","rel":"metric-detail","href":"https://api.kissmetrics.com/core/metrics/{metric_id}","templated":true},{"name":"First","rel":"first","href":"https://api.kissmetrics.com/core/metrics?limit=20\u0026offset=0","templated":false},{"name":"Last","rel":"last","href":"https://api.kissmetrics.com/core/metrics?limit=20\u0026offset=0","templated":false}]}'
  recorded_at: Fri, 27 Feb 2015 03:14:40 GMT
recorded_with: VCR 2.9.3
