---
http_interactions:
- request:
    method: get
    uri: https://api.kissmetrics.com/core/accounts/8d637290-a04f-0132-83a0-22000ab4dcd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - Bearer g69tAwVa2PXJS5KBzz5lWKgBkAzERYIR9XGoS2VkWUz4vnT_qZVIW6ehkPjIGmga
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"da11468e11a12f5e0ced3370058be9c9"'
      Link:
      - <https://api.kissmetrics.com/core/accounts/8d637290-a04f-0132-83a0-22000ab4dcd7>;
        rel="self"; templated="false"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"meta":{"status":200},"data":{"id":"8d637290-a04f-0132-83a0-22000ab4dcd7","name":"kissmetrics-ruby","status":"active","created_at":"2015-02-27T01:40:37Z","updated_at":"2015-02-27T02:30:36Z","contact":{"name":null,"country":null,"phone":null},"links":[{"name":"Self","rel":"self","href":"https://api.kissmetrics.com/core/accounts/8d637290-a04f-0132-83a0-22000ab4dcd7","templated":false},{"name":"Products","rel":"products","href":"https://api.kissmetrics.com/core/accounts/8d637290-a04f-0132-83a0-22000ab4dcd7/products","templated":false}]},"links":[{"name":"Self","rel":"self","href":"https://api.kissmetrics.com/core/accounts/8d637290-a04f-0132-83a0-22000ab4dcd7","templated":false}]}'
  recorded_at: Fri, 27 Feb 2015 02:40:25 GMT
recorded_with: VCR 2.9.3
