---
http_interactions:
- request:
    method: get
    uri: https://api.kissmetrics.com/core/events/8d637290-a04f-0132-83a0-22000ab4dcd7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Authorization:
      - Bearer g69tAwVa2PXJS5KBzz5lWKgBkAzERYIR9XGoS2VkWUz4vnT_qZVIW6ehkPjIGmga
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"meta":{"status":404,"message":"not found","errors":["not_found"]}}'
  recorded_at: Fri, 27 Feb 2015 03:03:46 GMT
recorded_with: VCR 2.9.3
